.displaySelector {
  display: flex;
  justify-content: center;
  margin: 70px auto;
}
.displaySelector .displaySelector__btn {
  font-size: 16px;
  font-weight: 500;
  width: 100px;
  height: 32px;
  background-color: white;
  border-radius: 2px;
  border: solid 1px #d6d6d6;
}
.displaySelector .displaySelector__btn--active {
  color: #1797ff;
  border: solid 1px #1797ff;
}
